@use "../utilities" as u;

.title {
  @include u.text('Montserrat', 0.1px);
  text-align: u.$text-align-center;
}

.quienes_somos {
  display: u.$display-flex;
  width: 60%; // Ajusta el ancho para pantallas más pequeñas
  padding: 40px 20px; // Ajusta los espaciados para pantallas más pequeñas
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background: u.$background-color-white;
  box-shadow: 0px 0px 15px 11px rgba(0, 0, 0, 0.1);
  margin: 5% auto;

    @include u.maxphone{
      width:  70%; 
      padding: 30px; 
      
    }
  
    
    @include u.min_maxTablet{
      width: 70%; // Ajusta el ancho para pantallas más grandes (laptop, desktop)
      padding: 40px; // Ajusta los espaciados para pantallas más grandes
    }
  }
  


  .banner {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 30%;
    border-radius: 10px;
    max-width: 60%; /* La imagen no será más ancha que su contenedor */
    height: auto; 
  }
  
  .banner_pilares, .pilares {
    margin: 0 25%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: auto;
    max-width: 60%;
}
.video {
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  height: auto;
}

  .texto{
    @include u.text('Montserrat', 1.3rem, 0px, 400);
    padding: 0 2%;
    line-height: 40px;
  
    @include u.maxphone{
          @include u.text('Montserrat', 1rem, 1px, 400);
  
    }
    @include u.min_maxTablet{
          @include u.text('Montserrat', 1.2rem, 1px, 400);
  
    }

  
  
  }